<div class="form-container">
  <mat-card class="form-card">
    <!--mat-card-header>
      <mat-card-title>Prédiction des Caractéristiques du Bébé</mat-card-title>
      <mat-card-subtitle>Remplissez les informations ci-dessous</mat-card-subtitle>
    </mat-card-header-->

    <mat-card-content>
      <!-- Formulaire -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <!-- Sexe du Bébé -->
        <div class="baby-sex-section">
          <p class="section-description">
            🎉 Le moment est venu de faire votre premier choix… 😏
          </p>
          <p class="section-description">
            👉 À votre avis, qui se cache dans le ventre de maman ?
          </p>
          <p class="section-description">
            💡 Réponse lors de la gender reveal le 27 juin 
          </p>
          <img src="./assets/img/GirlOrBoy.png" alt="Fille ou garçon ?" class="baby-question-image">
          <div class="sex-radio-group" [formGroup]="form">
            <div class="sex-radio-option">
              <input 
                type="radio" 
                id="babyBoy" 
                name="babySex" 
                value="M" 
                formControlName="babySex"
                class="sex-radio-input">
              <label for="babyBoy" class="sex-radio-label">
                <img src="./assets/img/Boy.png" alt="Garçon" class="sex-image">
              </label>
            </div>
            <div class="sex-radio-option">
              <input 
                type="radio" 
                id="babyGirl" 
                name="babySex" 
                value="F" 
                formControlName="babySex"
                class="sex-radio-input">
              <label for="babyGirl" class="sex-radio-label">
                <img src="./assets/img/Fille.png" alt="Fille" class="sex-image">
              </label>
            </div>
          </div>
          <mat-error *ngIf="form.get('babySex')?.hasError('required')" class="sex-error">
            Sélection obligatoire
          </mat-error>
        </div>
          <p class="section-description">
            ✨ Et si on allait plus loin… ?
            <br>
            <br>
            👉 Vous avez déjà tenté de deviner si bébé sera une fille ou un garçon… mais on ne va pas s’arrêter là 😏<br>
            👉 Place aux paris les plus fous !<br>
            Prénom, couleur des yeux, poids, taille à la naissance…<br>
            On veut connaître toutes vos prédictions 👶💭<br>
            Cette fois, il faudra être patients…<br>
            Les réponses ne seront dévoilées qu’à la naissance de bébé (prévue le 11 octobre)<br>
            Alors à vous de jouer et de laisser parler votre intuition 💕<br>
            On a hâte de découvrir vos idées… et de voir qui sera le plus proche de la réalité 😄<br>
            👉 Un podium des meilleurs devins sera dévoilé après la naissance… à vous de viser la première place 🏆<br>
          </p>
        <!--  Quel sera son prénom ? -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label> Quel sera son prénom ? </mat-label>
      
          <input matInput formControlName="babyName" placeholder="👉 Écrivez votre idée juste ici">
          <mat-icon matSuffix>child_care</mat-icon>
          <mat-error *ngIf="form.get('babyName')?.hasError('required')">
            La suggestion de prénom est obligatoire
          </mat-error>
          <mat-error *ngIf="form.get('babyName')?.hasError('minlength')">
            Le nom doit contenir au moins 2 caractères
          </mat-error>
        </mat-form-field>

        <!-- Couleur des Yeux -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>De quelle couleur seront ses yeux ?</mat-label>
          <mat-select formControlName="babyEyesColor">
            <mat-option *ngFor="let color of eyeColors" [value]="color">
              {{ color }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('babyEyesColor')?.hasError('required')">
            Sélection obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Couleur des Cheveux -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Couleur des Cheveux</mat-label>
          <mat-select formControlName="babyHairColor">
            <mat-option *ngFor="let color of hairColors" [value]="color">
              {{ color }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('babyHairColor')?.hasError('required')">
            Sélection obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Date de Naissance -->
         <p class="section-description">
            Terme officiel : le 11 octobre ... Bébé sera t-il en avance ?
          </p>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Date de Naissance</mat-label>
          <input matInput formControlName="babyBirthDate" type="date">
          <mat-icon matSuffix>date_range</mat-icon>
          <mat-error *ngIf="form.get('babyBirthDate')?.hasError('required')">
            La date est obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Type de Cheveux -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Type de Cheveux</mat-label>
          <mat-select formControlName="babyHairType">
            <mat-option *ngFor="let type of hairTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('babyHairType')?.hasError('required')">
            Sélection obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Poids du Bébé -->
           <p class="section-description">
            À votre avis, combien pèsera bébé à sa naissance?
          </p>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Poids du Bébé (kg)</mat-label>
          <input matInput formControlName="babyWeight" placeholder="Ex: 3.5" type="number" step="0.1">
          <mat-icon matSuffix>scale</mat-icon>
          <mat-error *ngIf="form.get('babyWeight')?.hasError('required')">
            Le poids est obligatoire
          </mat-error>
          <mat-error *ngIf="form.get('babyWeight')?.hasError('pattern')">
            Format invalide (ex: 3.5)
          </mat-error>
        </mat-form-field>

        <!-- Section Parents -->
        <h3>Vos infos</h3>
        <p class="section-description">
            Afin d'enregistrer vos prédictions, et de pouvoir vous attribuer une place sur le podium des meilleurs devins, on a besoin de connaitre: 
          </p>
        <!-- Champ Prénom Parent -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Votre Prénom</mat-label>
          <input matInput formControlName="firstName" placeholder="Ex: Jean">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="form.get('firstName')?.hasError('required')">
            Le prénom est obligatoire
          </mat-error>
          <mat-error *ngIf="form.get('firstName')?.hasError('minlength')">
            Le prénom doit contenir au moins 2 caractères
          </mat-error>
        </mat-form-field>

        <!-- Champ Nom Parent -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Votre Nom</mat-label>
          <input matInput formControlName="lastName" placeholder="Ex: Dupont">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="form.get('lastName')?.hasError('required')">
            Le nom est obligatoire
          </mat-error>
          <mat-error *ngIf="form.get('lastName')?.hasError('minlength')">
            Le nom doit contenir au moins 2 caractères
          </mat-error>
        </mat-form-field>


        <!-- Boutons -->
        <div class="button-group">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!isFormValid() || isLoading"
            class="submit-btn"
          >
            <mat-icon *ngIf="!isLoading" class="icon-left">send</mat-icon>
            <mat-spinner *ngIf="isLoading" diameter="20" class="spinner-left"></mat-spinner>
            {{ isLoading ? 'Envoi en cours...' : 'Valider' }}
          </button>

          <button
            mat-stroked-button
            type="button"
            (click)="resetForm()"
            [disabled]="isLoading"
          >
            <mat-icon class="icon-left">refresh</mat-icon>
            Réinitialiser
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
